fastapi[all]
sqlalchemy
alembic
Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope Process
uvicorn app.main:app --reload
.\venv\Scripts\Activate
c:/xampp/htdocs/python_oblick/venv/Scripts/Activate.ps1    

python_oblick/
│
├── app/
│   ├── main.py
│   ├── models/
│   │   ├── __init__.py
│   │   ├── base.py
│   │   ├── odvumir.py
│   │   ├── oper.py
│   │   ├── robitnuk.py
│   │   ├── perelik.py
│   │   ├── material.py
│   │   ├── price.py
│   │   ├── nakladna.py
│   │   ├── operation.py
│   │   ├── resur.py
│   │   ├── marshryt.py
│   │   ├── users.py
│   │   └── denzvit.py
│   ├── routers/
│   │   ├── __init__.py
│   │   ├── odvumir.py
│   │   ├── oper.py
│   │   ├── robitnuk.py
│   │   ├── perelik.py
│   │   ├── material.py
│   │   ├── price.py
│   │   ├── nakladna.py
│   │   ├── operation.py
│   │   ├── resur.py
│   │   ├── marshryt.py
│   │   ├── users.py
│   │   └── denzvit.py
│   ├── templates/
│   │   ├── base.html
│   │   ├── index.html
│   │   ├── odvumir_page.html
│   │   ├── oper_page.html
│   │   ├── robitnuk_page.html
│   │   ├── material_page.html
│   │   ├── price_page.html
│   │   ├── users_page.html
│   ├── static/
│   │   ├── style.css
│   ├── config.py
│   ├── DB.db
│   ├── templates.py
│   └── database.py
│
└── requirements.txt
