pip install fastapi[all]
pip install sqlalchemy
pip install alembic
uvicorn app.main:app --reload
alembic revision --autogenerate -m "Initial migration"
alembic upgrade head
Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope Process
.\venv\Scripts\Activate
c:/xampp/htdocs/python_oblick/venv/Scripts/Activate.ps1    

python_oblick/
│
├── app/
│   ├── main.py
│   ├── workshop/
│   │   ├── workshop_routers.py
│   │   ├── workshop_page.html
│   ├── storage/
│   │   ├── storage_routers.py
│   │   ├── storage_page.html
│   ├── models/
│   │   ├── __init__.py
│   │   ├── base.py
│   │   ├── odvumir.py
│   │   ├── oper.py
│   │   ├── robitnuk.py
│   │   ├── perelik.py
│   │   ├── material.py
│   │   ├── price.py
│   │   ├── nakladna.py
│   │   ├── operation.py
│   │   ├── resur.py
│   │   ├── marshryt.py
│   │   ├── denzvit.py 
│   │   └── users.py
│   ├── routers/
│   │   ├── __init__.py
│   │   ├── odvumir.py
│   │   ├── oper.py
│   │   ├── robitnuk.py
│   │   ├── perelik.py
│   │   ├── material.py
│   │   ├── price.py
│   │   ├── nakladna.py
│   │   ├── operation.py
│   │   ├── resur.py
│   │   ├── marshryt.py
│   │   ├── denzvit.py
│   │   |─  users.py
│   │   ├── authorization.py
│   ├── templates/
│   │   ├── base.html
│   │   ├── index.html
│   │   ├── odvumir_page.html
│   │   ├── oper_page.html
│   │   ├── robitnuk_page.html
│   │   ├── material_page.html
│   │   ├── price_page.html
│   │   ├── users_page.html
│   │   ├── auth_page.html
│   ├── static/
│   │   ├── style.css
│   ├── config.py
│   ├── DB.db
│   ├── templates.py
│   └── database.py
│
└── requirements.txt
