{% extends "templates/base.html" %}
{% block content %}
<h1>Добавлення нового дензвиту</h1>
<form id="denzvitForm">
    <select name="id_robitnuk">
        <option value="">Виберіть робітника</option>
        {% for robitnuk in robitnuks %}
            <option value="{{ robitnuk.id }}">{{ robitnuk.name }}</option>
        {% endfor %}
    </select>
    <select name="id_operation">
        <option value="">Виберіть операцію</option>
        {% for operation in operations %}
            <option value="{{ operation.id }}">{{ operation.Oper.name }}</option>
        {% endfor %}
    </select>
    <input type="number" name="kilkist" placeholder="Кількість" step="0.01">
    <select name="id_odvumir">
        <option value="">Виберіть одвиміру</option>
        {% for odvumir in odvumirs %}
            <option value="{{ odvumir.id }}">{{ odvumir.name }}</option>
        {% endfor %}
    </select>
   
</form>
</div>
<button onclick="addField()">Add more fields</button>
<button type="button" onclick="submitForm()">Додати</button>
<script>
 let fieldCount = 0;
    
    function addField() {
        const container = document.getElementById('denzvitForm');
        const newField = document.createElement('div');
        newField.innerHTML = `
            <select name="id_robitnuk${fieldCount}">
                <option value="">Виберіть робітника</option>
                {% for robitnuk in robitnuks %}
                    <option value="{{ robitnuk.id }}">{{ robitnuk.name }}</option>
                {% endfor %}
            </select>
            <select name="id_operation${fieldCount}">
                <option value="">Виберіть операцію</option>
                {% for operation in operations %}
                    <option value="{{ operation.id }}">{{ operation.Oper.name }}</option>
                {% endfor %}
            </select>
            <input type="number" name="kilkist${fieldCount}" placeholder="Кількість" step="0.01">
            <select name="id_odvumir${fieldCount}">
                <option value="">Виберіть одвиміру</option>
                {% for odvumir in odvumirs %}
                    <option value="{{ odvumir.id }}">{{ odvumir.name }}</option>
                {% endfor %}
            </select>
        `;
        container.appendChild(newField);
        fieldCount++;
    }
    
    async function submitForm() {
    const form = document.getElementById('denzvitForm');
    const formData = new FormData(form);
    const jsonData = {};

    for (const [key, value] of formData.entries()) {
        const baseKey = key.replace(/\d+$/, ""); // removing field count

        if (!jsonData[baseKey]) {
            jsonData[baseKey] = [];
        }
        jsonData[baseKey].push(value);
    }

    const response = await fetch('/workshop/workshop/workshop_denzvit_form', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(jsonData)
    });

    if (response.ok) {
        window.location.reload();
    } else
        // Handle errors
        console.error('Error:', response.statusText);
    }  
    </script>
{% endblock %}

