{% extends "templates/base.html" %}
{% block content %}
<h1>Добавлення нового дензвиту</h1>
<form id="denzvitForm">
    <div id="fieldContainer">
        <div class="fieldRow">
            <input type="number" name="id_robitnuk[]" placeholder="ID Робітника">
            <input type="number" name="id_operation[]" placeholder="ID Операції">
            <input type="number" name="kilkist[]" placeholder="Кількість">
            <input type="number" name="id_odvumir[]" placeholder="ID Одвиміру">
        </div>
    </div>
    <button type="button" id="addFieldButton">Додати поле</button>
    <button type="button" onclick="submitForm()">Відправити</button>
</form>
<script>
    document.getElementById('addFieldButton').addEventListener('click', function() {
        var container = document.getElementById('fieldContainer');
        var newFieldRow = document.createElement('div');
        newFieldRow.classList.add('fieldRow');
        newFieldRow.innerHTML = `
            <input type="number" name="id_robitnuk[]" placeholder="ID Робітника">
            <input type="number" name="id_operation[]" placeholder="ID Операції">
            <input type="number" name="kilkist[]" placeholder="Кількість">
            <input type="number" name="id_odvumir[]" placeholder="ID Одвиміру">
        `;
        container.appendChild(newFieldRow);
    });

    async function submitForm() {
    const form = document.getElementById('denzvitForm');
    const formData = new FormData(form);
    const jsonData = {};
    for (let key of formData.keys()) {
        key = key.replace('[]', '');
        jsonData[key] = formData.getAll(key).map(val => parseInt(val));
    }

    const response = await fetch('/workshop/workshop/workshop_denzvit_form', { // Changed URL here
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(jsonData)
      
    });

    if (response.ok) {
        window.location.reload();
    } else {
        console.error('Error:', response.statusText);
    }
}

</script>
{% endblock %}
