<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI Application</title>
  
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
        <h1>Головна сторінка</h1>
        <a href="/odvumir/odvumir_page">одиниці виміру</a>
        <a href="/oper/oper_page">операції</a>
        <a href="/robitnuk/robitnuk_page">робітники</a>
        <a href="/perelik/perelik_page">перелік</a>
        <a href="/material/material_page">матеріали</a>
        {% endblock %}
    
</body>
</html>
