
    {% extends "base.html" %}

    {% block content %}
    <div class="index__menu__block">
         <h1>Головна сторінка</h1>
        <div class="index__menu__nav">
            <a href="/odvumir/odvumir_page">одиниці виміру</a>
            <a href="/oper/oper_page">операції</a>
            <a href="/robitnuk/robitnuk_page">робітники</a>
            <a href="/perelik/perelik_page">перелік</a>
            <a href="/material/material_page">матеріали</a>
            <a href="/price/price_page">ціни</a>
            <a href="/nakladna/nakladna_page">накладна</a>
            <a href="/unit/unit_page">адреси</a>
            <a href="/operation/operation_page">коди операцій</a>
            <a href="/resur/resur_page">ресурс</a>
            <a href="/marshryt/marshryt_page">маршрут</a>
        </div>
    </div>
        {% endblock %}

