<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Nakladna</title>
    <!-- Add your CSS files here -->
</head>
<body>
    <h1>Create Nakladna</h1>

    <form id="nakladnaForm">
        <label for="number">Number:</label><br>
        <input type="text" id="number" name="number"><br>
        
        <label for="address_1">Address 1:</label><br>
        <input type="text" id="address_1" name="address_1"><br>
        
        <label for="address_2">Address 2:</label><br>
        <input type="text" id="address_2" name="address_2"><br>
        
        <label for="id_perelik">Perelik ID:</label><br>
        <input type="text" id="id_perelik" name="id_perelik"><br>
        
        <label for="kilkist">Kilkist:</label><br>
        <input type="text" id="kilkist" name="kilkist"><br>
        
        <label for="id_odvumir">Odvumir ID:</label><br>
        <input type="text" id="id_odvumir" name="id_odvumir"><br>
        
        <label for="notes">Notes:</label><br>
        <input type="text" id="notes" name="notes"><br>
        
        <button type="button" onclick="submitForm()">додати</button>
    </form>
</body>
</html>
{% block scripts %}
<script>
  async function submitForm() {
        const form = document.getElementById('nakladnaForm');
        const formData = new FormData(form);
        const jsonData = {};

        for (const [key, value] of formData.entries()) {
            jsonData[key] = value;
        }
        const response = await fetch('/nakladna/nakladna/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(jsonData)
        });

        if (response.ok) {
            window.location.reload();
        } else {
            // Handle errors
            console.error('Error:', response.statusText);
        }
    }
</script>
{% endblock %}