{% extends "base.html" %}

{% block content %}
    <a href="/">Назад до головної сторінки</a>
    <h1>Create Nakladna</h1>

    <form id="nakladnaForm">
        <label for="number">Number:</label><br>
        <input type="text" id="number" name="number"><br>
        
        <select name="address_1">
            <option value="">Виберіть адресу</option>
            {% for unit in units %}
                <option value="{{ unit.id }}">{{ unit.name }}</option>
            {% endfor %}
        </select>
        <select name="address_2">
            <option value="">Виберіть адресу</option>
            {% for unit in units %}
                <option value="{{ unit.id }}">{{ unit.name }}</option>
            {% endfor %}
        </select>
       
        <select name="id_perelik">
            <option value="">Виберіть перелік</option>
            {% for perelik in pereliks %}
                <option value="{{ perelik.id }}">{{ perelik.coding }}</option>
            {% endfor %}
        </select>
        
        
        <label for="kilkist">Kilkist:</label><br>
        <input type="text" id="kilkist" name="kilkist"><br>
        <select name="id_odvumir">
            <option value="">Виберіть одиниці</option>
            {% for odvumir in odvumirs %}
                <option value="{{ odvumir.id }}">{{ odvumir.name }}</option>
            {% endfor %}
        </select>
      
        
        <label for="notes">Notes:</label><br>
        <input type="text" id="notes" name="notes"><br>
        
        <button type="button" onclick="submitForm()">додати</button>
    </form>
    {% endblock %}
{% block scripts %}
<script>
  async function submitForm() {
        const form = document.getElementById('nakladnaForm');
        const formData = new FormData(form);
        const jsonData = {};

        for (const [key, value] of formData.entries()) {
            jsonData[key] = value;
        }
        const response = await fetch('/nakladna/nakladna/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(jsonData)
        });

        if (response.ok) {
            window.location.reload();
        } else {
            // Handle errors
            console.error('Error:', response.statusText);
        }
    }
</script>
{% endblock %}