{% extends "base.html" %}

{% block content %}
    <h1>одиниці виміру CRUD операції</h1>

    <form id="odvumirForm">
        <input type="text" name="name" placeholder="Назва">
        <input type="text" name="notes" placeholder="Нотатки">
        <button type="button" onclick="submitForm()">добавити</button>
    </form>

    <h2>одиниці виміру </h2>
    <form id="searchForm" onsubmit="event.preventDefault(); searchAndSort();">
        <input type="text" name="search" placeholder="Пошук за назвою" value="{{ search if search }}">
        <select name="sort_by">
            <option value="">Сортувати за роком</option>
            <option value="year_asc" {% if sort_by == "year_asc" %}selected{% endif %}>За зростанням</option>
            <option value="year_desc" {% if sort_by == "year_desc" %}selected{% endif %}>За спаданням</option>
        </select>
        <button type="submit">Пошук і сортування</button>
    </form>
    
    <table>
        <tr>
            <th>ID</th>
            <th>Назва</th>
            <th>Нотатки</th>
            <th>Дата створена</th>
            <th>Дата оновлена</th>
            <th>Дії</th>
        </tr>
        {% for odvumir in odvumirs %}
            <tr>
                <td>{{ odvumir.id }}</td>
                <td>{{ odvumir.name }}</td>
                <td>{{ odvumir.notes }}</td>
                <td>{{ odvumir.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td>{{ odvumir.date_updated.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td>
                    <button onclick="editOdvumirName({{ odvumir.id }})">редагувати назву</button>
                    <button onclick="editOdvumirNotes({{ odvumir.id }})">Редагувати нотатки</button>
                    <button onclick="deleteOdvumir({{ odvumir.id }})">Видалити</button>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block scripts %}
<script>
     function searchAndSort() {
        const searchForm = document.getElementById('searchForm');
        const formData = new FormData(searchForm);
        const searchParams = new URLSearchParams(formData);

        window.location.href = `/odvumir/odvumir_page?${searchParams.toString()}`;
    }
    async function submitForm() {
        const form = document.getElementById('odvumirForm');
        const formData = new FormData(form);
        const jsonData = {};

        for (const [key, value] of formData.entries()) {
            jsonData[key] = value;
        }
        const response = await fetch('/odvumir/odvumir/', {
            method: 'POST',
            headers: {
           'Content-Type': 'application/json'
             },
            body: JSON.stringify(jsonData)
        });

        if (response.ok) {
            // Handle success, e.g., reload the page or display a message
            window.location.reload();
        } else {
            // Handle errors
            console.error('Error:', response.statusText);
        }
    }
    async function editOdvumirName(odvumirId) {
        const newName = prompt("введіть нову назву (порожньо, щоб не змінювати):");

        const jsonData = {};

        if (newName !== "") {
            jsonData["name"] = newName;
        }

        const response = await fetch(`/odvumir/odvumir/${odvumirId}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(jsonData)
        });

        if (response.ok) {
            window.location.reload();
        } else {
            console.error('Error:', response.statusText);
        }
    }

    async function editOdvumirNotes(odvumirId) {
        const newNotes = prompt("введіть нову нотатки (порожньо, щоб не змінювати):");

        const jsonData = {};

        if (newNotes !== "") {
            jsonData["notes"] = newNotes;
        }

        const response = await fetch(`/odvumir/odvumir/${odvumirId}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(jsonData)
        });

        if (response.ok) {
            window.location.reload();
        } else {
            console.error('Error:', response.statusText);
        }
    }


    async function deleteOdvumir(odvumirId) {
        if (!confirm('Ви дійсно хочете видалити цю одиницю виміру?')) {
            return;
        }

        const response = await fetch(`/odvumir/odvumir/${odvumirId}`, {
             method: 'DELETE',
        });

        if (response.ok) {
            window.location.reload();
        } else {
            console.error('Error:', response.statusText);
        }
    }
</script>
{% endblock %}
